<h1>About</h1>
<p>SKK website serves for buying tickets. As a guest to the page you can
    just look what bus lines are available and if you are registered and 
    loged in you can buy tickets. </p>
